projeto/*#
projeto/*.iml
projeto/*.ipr
projeto/*.iws
projeto/*.jar
projeto/*.sw?
projeto/*~
projeto/.#*
projeto/.*.md.html
projeto/.DS_Store
projeto/.classpath
projeto/.projeto/factorypath
projeto/.gradle
projeto/.idea
projeto/.metadata
projeto/.project
projeto/.recommenders
projeto/.settings
projeto/.springBeans
projeto/build
projeto/code
projeto/MANIFEST.MF
projeto/_site/
projeto/activemq-data
projeto/bin/
projeto/build/
projeto/build.log
projeto/dependency-reduced-pom.xml
projeto/dump.rdb
projeto/interpolated*.xml
projeto/lib/
projeto/manifest.yml
projeto/overridedb.*
projeto/target/
projeto/transaction-logs
projeto/.flattened-pom.xml
projeto/secrets.yml
projeto/.gradletasknamecache
projeto/.sts4-cache
